/*全局样式表*/
pos-center {
    display: flex;
}

#global-loading {
    /*渐变色*/
    background: linear-gradient(to right, dodgerblue, white, dodgerblue);
    height: 2px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 0;
    animation: grow 2s infinite forwards;
}
@keyframes grow {
    from{
        width: 0;
    }
    to {
        width: 100%
    }
}

.list-display {
    height: 50%;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe6e9;
}

